.soc {
    height: 30px;
}
html {
    background: linear-gradient(to left, rgb(112, 101, 214), rgb(230, 106, 213));
    background-size: 300vh;
    background-size: 800% 800%;
    -webkit-animation: AnimationName 40s ease infinite;
    -moz-animation: AnimationName 40s ease infinite;
    animation: AnimationName 40s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
body {
    display: flex;
    margin: auto;
    max-width: 50vw;
    flex-direction: column;   
    -webkit-overflow-scrolling: touch;
    padding-top: 50px;
}
a {
    color: darkslateblue;
}
.menu {
    width: 500px;
    height: calc(width);
}
/* .cont {
    border: 1px solid blue;
    box-shadow: 5px 10px royalblue; 
} */
.head {
    display: flex;
    flex-direction: row;

}
.logoimg, .subhead {
    max-width: 50%;
    min-width: 290px;
    border-radius:  0  25px 25px 25px;
    flex: 1;
    font-size: 1.5em;
}
.carousel-images {
    height: 50vh;
    width: 50vw;
    min-width: 290px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;  
    flex: 1;
}
.car-img {
    width: 100%;
    height: calc(width);
    flex-shrink: 0;
    scroll-snap-align: start;   
}


@media (max-width: 500px) {
    body {
        padding-top: 0;
        margin: 0;
    }
    .head {
        flex-wrap: wrap;
    }
}