@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
body {
    background: url('https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    margin: auto;
    max-width: 50vw;
    flex-direction: column;   
    -webkit-overflow-scrolling: touch;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.carousel-images {
    height: 50vh;
    width: 50vw;
    min-width: 290px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;  
    flex: 1;
}
.car-img {
    width: 100%;
    height: calc(width);
    flex-shrink: 0;
    scroll-snap-align: start;   
}
.cards {
    border: 2px solid black;
    border-radius: 10px;
}
.card {
    background: rgb(248, 248, 248, .9);
}
.socialSpacer {
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    border: 2px solid black;
}
.icon {
    height: 50px;
    width: 50px;
    
}
.header {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
    align-items: center; 
    background: rgb(248, 248, 248, .9);
    border-radius: 10px;
    border: 2px solid black;
}
h1 {
    font-family: 'Akronim';
    background: rgb(248, 248, 248, .9);
    border-radius: 10px;
    color: tomato;
    font-size: 4em;
    padding-left: 20px;
    padding-right:20px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 2em;
        width: 100vw;
        text-align: center;
    }
    .header {
        width: 100vw;
        border: none;
        border-radius: 0px;
    }
    .contacts {
        justify-content: left;
    }
    input {
        width: 100vw;
        text-align: center;
    }
    .carousel-images{
        min-width: 100vw;
    }
    .card-img-top, .card-body {
        width: 70%;
    }

}
